[data-theme="dark"] {
    background-color: #222 !important;
    color: #fff;
}

[data-theme="dark"] .jumbotron {
    background-color: #303030;
}

[data-theme="dark"] .list-group-item:not(.active) {
    background-color: #303030;
    border: 1px solid #444;
}

[data-theme="dark"] .card {
    background-color: #303030;
    border: 1px solid rgba(0, 0, 0, 0.125);
}

[data-theme="dark"] .card-header {
    background-color: #222;
    border-bottom: 1px solid rgba(0, 0, 0, 0.125);
}

[data-theme="dark"] .card-footer {
    background-color: #444;
    border-top: 1px solid rgba(0, 0, 0, 0.125);
}

[data-theme="dark"] .nav-link:hover, [data-theme="dark"] .nav-link:focus {
    border-color: #444 #444 transparent;
}

[data-theme="dark"] .nav-link.active, .nav-item.show .nav-link {
    color: #fff;
    background-color: #222;
    border-color: #444 #444 transparent;
}

[data-theme="dark"] .bg-black {
    background-color: #eee !important;
}

[data-theme="dark"] .bg-secondary {
    background-color: #444 !important;
}

